


/* Basic page style resets */
body{
  box-sizing: border-box;
background-color:#efe5da;

}

.progress-bar{
position: fixed;
width: 100%;
height:10px;  
}

#progress{
width: 0%;
height:100%;
background-color:#fd1d1d;
}

header{
padding:10px;
width:50%;
height:100%;
display:grid;
 align-items: center;
   justify-items: center;
background-color:#d1b290;
margin:auto;
border: 1px solid black;

}

.padre{
margin:auto;
 padding:15px;
border: 1px solid black;
margin-bottom:15px;
  
}